# Sets

## Definition
Sets : unordered,mutable, no duplicate

In [121]:
myset={1,2,3,4,5,6}
myset

{1, 2, 3, 4, 5, 6}

In [122]:
myset={1,2,3,1,2,4}
myset

{1, 2, 3, 4}

myset=set([12,3,4,5,6,6,6])
myset

In [123]:
myset=set("HelloWorld")
myset

{'H', 'W', 'd', 'e', 'l', 'o', 'r'}

In [124]:
myset=set()
type(myset)

set

In [125]:
myset.add(1)
myset.add(2)
myset.add(5)
myset

{1, 2, 5}

## Ways of removing elements

In [71]:

myset.remove(2)
myset

{1, 5}

In [72]:
myset.remove(11)

KeyError: 11

In [73]:
myset.discard(1)
myset

{5}

In [74]:
myset.discard(100)  #no error for not finding an element in the set
myset

{5}

In [75]:
for i in range(10):
    myset.add(i)
myset

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [76]:
myset.pop()  #pop up a first added element
myset

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [77]:
myset.clear() #empty a set
myset

set()

In [78]:
for i in range(10):
    myset.add(i)
myset

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [79]:
for i in myset:
    print(i,end=" ")
print("")
for i in myset:
    if i in myset:
        print(True,end=" ")
    else: print(False,end=" ")

0 1 2 3 4 5 6 7 8 9
True True True True True True True True True True

## Unions
Combines two set or more sets without duplication

In [80]:
#first define odd,even and prime sets
odd=set()
even=set()
prime=set()
for i in range (10):
    if ((i%2)==0):
        even.add(i)
        if(i==2):
            prime.add(i)
    elif((i%2)!=0):
        odd.add(i)
        if(i==3):
            prime.add(i)
        elif((i!=1) and (i%3)!=0):
            prime.add(i)
print(odd)
print(even)
print(prime)

{1, 3, 5, 7, 9}
{0, 2, 4, 6, 8}
{2, 3, 5, 7}

In [81]:
uall=odd.union(even)
uall

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

## Intersections
find only duplicate elements in sets

In [82]:
inter=odd.intersection(prime)
inter #finding odd prime numbers

{3, 5, 7}

In [83]:
#finding even prime numbers
inter=even.intersection(prime)
inter

{2}

## Difference

In [105]:
setA={1,2,3,4,5,6,7,8,9,10}
setB={5,6,7,8,9,10,11,12,13,14,15,16}

diff=setA.difference(setB)
print(diff)
diff=setB.difference(setA)
print(diff)

{1, 2, 3, 4}
{11, 12, 13, 14, 15, 16}

## Symmetric Difference  = Union -intersection

In [108]:
print(setA.symmetric_difference(setB))
print(setA.intersection(setB))

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16}
set()

### update : directly update the set or add just two sets uniquely

In [110]:
setA.update(setB)
setA

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16}

In [107]:
setA.symmetric_difference_update(setB)  #symetric difference update will update setA directly
print(setA)
setA.difference_update(setB)
print(setA)

{1, 2, 3, 4, 11, 12, 13, 14, 15, 16}
{1, 2, 3, 4}

In [111]:
setA.intersection_update(setB)
setA

{5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16}

## issubset:if A is part of B then returns true
## issuperset:if A is subset of B then B is superset of A
## isdisjoint:if A and B doesn't contain a single common element then they called disjoin sets

In [126]:
print(setA.issubset(setB))

False

In [127]:
print(setA)
print(setB)
print(setA.issuperset(setB))  # if A contains all elements of B

{100, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16}
{5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16}
True

In [128]:
setA.add(100)
print(setA)
print(setB)
print(setA.issuperset(setB))
print(setB.issuperset(setA))

{100, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16}
{5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16}
True
False

In [129]:
A={1,2,3,4}
B={4,5,6,7}
C={0,8,9}
print(A.isdisjoint(B))
print(B.isdisjoint(C))

False
True

## Copying sets

In [131]:
setA={1,2,3,4,5}
setB=setA
print(setA,setB)

{1, 2, 3, 4, 5} {1, 2, 3, 4, 5}

In [136]:
setA.add(6) #adds to all copied sets
print(setA,setB)

{1, 2, 3, 4, 5, 6, 7} {1, 2, 3, 4, 5, 6, 7}

In [139]:
setC=setA.copy() #copy will duplicate elements to another set but not guarantee for future updates
setA.add(7)
setA.add(100)
print(setA,setC)

{1, 2, 3, 4, 5, 6, 7, 100} {1, 2, 3, 4, 5, 6, 7}

In [140]:
setD=set(setA)#copy will duplicate elements to another set but not guarantee for future updates
setA.add(1000)
print(setA,setD)

{1, 2, 3, 4, 5, 6, 7, 100, 1000} {1, 2, 3, 4, 5, 6, 7, 100}

## Frozen sets

In [141]:
A=frozenset([1,2,3,4])
A.add(5)

AttributeError: 'frozenset' object has no attribute 'add'