# Strings: Ordered,immutable,text representation

In [2]:
str ="Anand"
str

'Anand'

In [3]:
str='anand'
str

'anand'

In [4]:
str='i\'m a programmer' #or str="adsad'sdasd"
str

"i'm a programmer"

In [5]:
str="""dsfdsf
fsdfsdf
sdf
sd
fs
fsd
fsd
f"""
str

'dsfdsf\nfsdfsdf\nsdf\nsd\nfs\nfsd\nfsd\nf'

In [11]:
my_string="Hello World"
for i in my_string:
    print(i,end="\t")
print("\n")
for j in range(len(my_string)):
    print(my_string[j],end="\t")

H	e	l	l	o	 	W	o	r	l	d

H	e	l	l	o	 	W	o	r	l	d

In [14]:
my_string[2:5]

'llo'

In [15]:
my_string[2]='s'#immuatble

TypeError: 'str' object does not support item assignment

In [16]:
substring=my_string[2:]
substring

'llo World'

In [20]:
#reverse a string by slicing operator
print(my_string[::-1])

dlroW olleH

In [21]:
a="my"
b="name"
c="is Anand"
print(a+b+c)

mynameis Anand

In [22]:
print(a+" "+b+" "+c)

my name is Anand

In [24]:
print(a,b,c)#automatic spacing

my name is Anand

In [26]:
a=" asdas dasdsa d asd asd asd as das das d asdasdasd  "
print(a.strip())#removes white space at start and end

asdas dasdsa d asd asd asd as das das d asdasdasd

In [31]:
a="abcd"
print(a.upper()+a.lower())
print(a.startswith('a'))
print(a.endswith('c'))

ABCDabcd
True
False

In [33]:
print(a.find('cd'))

2

In [35]:
print(a.count('a'))

1

In [37]:
print(a.replace("abcd","efgh"))
print(a)

efgh
abcd

In [38]:
str="my name is Anand"
print(str)
lst=str.split()#delimiter as space
print(lst)

my name is Anand
['my', 'name', 'is', 'Anand']

In [40]:
str="my,name,is,Anand"
print(str)
lst=str.split(',')#delimiter as comma
print(lst)

my,name,is,Anand
['my', 'name', 'is', 'Anand']

In [50]:
#chain method : this will insert a character at every alternate charachter to string
a="my name is anand"
print(a)
b=" ".join(a)
print(b)
c=",".join(a)
print(c)

my name is anand
m y   n a m e   i s   a n a n d
m,y, ,n,a,m,e, ,i,s, ,a,n,a,n,d

In [52]:
#chain method is useful to convert list to string
a="my name is Anand"
b=a.split()
print(a)
print(b)
c=" ".join(b)
print(c)

my name is Anand
['my', 'name', 'is', 'Anand']
my name is Anand

In [61]:
from timeit import default_timer as t
my_list=['a']*20
print(my_list)

#bad
start=t()
my_string=''
for i in my_list:
    my_string+=i#very expensive as its create new string everytime
print(my_string)
stop=t()
print(stop-start)

#instead
start=t()
m=" ".join(my_list)
print(m)#faster way
stop=t()
print(stop-start)

['a', 'a', 'a', 'a', 'a', 'a', 'a', 'a', 'a', 'a', 'a', 'a', 'a', 'a', 'a', 'a', 'a', 'a', 'a', 'a']
aaaaaaaaaaaaaaaaaaaa
0.00012629998673219234
a a a a a a a a a a a a a a a a a a a a
9.879999561235309e-05

In [78]:
#format
var="Tom"
my_string="the variable is %s" %var
print(my_string)
var=1234
ms="the variable is %d" %var
print(ms)
var=12.3456789
m2="the variable is %.3f" %var
print(m2)

the variable is Tom
the variable is 1234
the variable is 12.346

In [72]:
print(f'{var}')

12.3456789

In [73]:
#format()
var=3.1456
mystring="the variable is {}".format(var)
print(mystring)

the variable is 3.1456

In [74]:
mystring="the variable is {:.2f}".format(var)
print(mystring)

the variable is 3.15

In [76]:
var2=4.56789
mystring="the variable is {:.2f} and {:.4f}".format(var,var2)
print(mystring)

the variable is 3.15 and 4.5679

In [81]:
ms=f"the variable is {var}"
print(ms)
ms=f"the variable is {3*var}"
print(ms)

the variable is 12.3456789
the variable is 37.0370367

In [1]:
a="mystring"
b=0.0002
c=2.4567

print("a value is {} and b value is {} and c value is {} ".format(a,b,c))

a value is mystring and b value is 0.0002 and c value is 2.4567

In [3]:
print("a value is {} and b value is {:.2f} and c value is {:.2f} ".format(a,b,c))

a value is mystring and b value is 0.00 and c value is 2.46

In [5]:
print("a value is {} and b value is {:.2f} and c value is {:.3f} ".format(a,b,c))

a value is mystring and b value is 0.00 and c value is 2.457

In [8]:
print(f"a value is {a} and b value is {b} and c value is {c}")

a value is mystring and b value is 0.0002 and c value is 2.4567

In [15]:
print("a value is %s"%a+" b value is %0.2f"%b+" c value is %d"%c) #you can change data type while printiing that will explicit cast

a value is mystring b value is 0.00 c value is 2

In [18]:
#exercise: given an email address it should return domain name :passing "user@domain.com" would return: domain.com

def returndomain(s):
    return s.split("@")[-1]

a="a@bcd.com"
b="abcd@dfg.com"
c="kevin@hotstar.com"
d=[a,b,c]

for i in range(3):
    print(returndomain(d[i]))

bcd.com
dfg.com
hotstar.com

In [25]:
k=a.split("@")
k

['a', 'bcd.com']

In [26]:
k[-1]

'bcd.com'

Create a basic function that returns True if the word 'dog' is contained in the input string. Don't worry about edge cases like a punctuation being attached to the word dog, but do account for capitalization.

In [32]:
#case
def isdogpresent(s):
    if "dog" in s.lower():
        return True
    else: return False

#this is not correct function as it only accounts dog with space character    
def findDog(st):
    return 'dog' in st.lower().split()
    
print(isdogpresent("abcdogbfc"))
print(isdogpresent("abcdgbfc"))
print(isdogpresent("abcdgbfc dog"))

print("--------------------------------")
print(findDog("abcdogbfc"))
print(findDog("abcdgbfc"))
print(findDog("abcdgbfc dog"))

True
False
True
--------------------------------
False
False
True

In [30]:
a="asdf fdfs"
a.split()

['asdf', 'fdfs']

In [37]:
#count number of dogs
def countDog(s):
    count=0
    s=s.lower()
    L=len(s)
    for i in range(L):
        if (i<=(L-2)):
            if(s[i]=='d'):
                if(s[i+1]=='o'):
                    if(s[i+2]=='g'):
                        count+=1
    return count
            
            

print(countDog("Dog Dog asddfdog"))

3

In [36]:
D="Dog Dog asddfdog"
D.split("Dog")

['', ' ', ' asddfdog']